{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["import"],
  "extends": "@imaginary-cloud/react",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "warn",
    "no-eval": "error",
    "import/first": "error",
    "react/prop-types": 0
  }
}