body{
    background-color: #f1f1f1; 
    background: url(salvador_dali.jpg);
}

.header{
    padding-top: 0px;
    height: 120px;
    background-color: rgba(155, 155, 155, .4);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 50px;
    text-shadow: 2px 2px rgba(55, 55, 55, .2);
    color: rgba(255, 255, 255, .7); 
}