body{
    background: linear-gradient(to bottom right, rgb(96, 38, 134), lightblue);
}

html, 
body {
    height: 100%;
}

h1{
    font-size: 40px;
    margin-bottom: 0;
    text-shadow: 3px 3px black;
    color: white
}

h5,h6{
    text-shadow: 2px 2px black;
    color: white;
    margin-left: 10px;
    margin-top: 0;
}

.header {
    padding-top: 10px;
    padding-top: 5px;
    text-align: center;
    background: linear-gradient(to bottom right,black, darkgray);
    font-size: 30px;
  }

.form {
    margin:20px;
    display:inline-block;
    position:relative;
}
  
button{
    position:absolute;
    bottom:10px;
    right:10px;
    background-color:  rgb(96, 38, 134);
    color: white;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

textarea {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display:block;
    font-size: 16px; 
    font-family: Arial;
    color: rgb(96, 38, 134);
    width: 350px;
    height: 390px;
    background-color: rgba(255, 255, 255, 0.5);
}

.error-message {
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 14px; 
}

.label{
    color: white;
    text-shadow: 2px 2px black;
}

.left-side{
    z-index: 1;
    padding-left: 10%;
    width: 30%;
    position: relative;
    float: left;
  } 

.right-side{
    padding-left: 40%;
    position: relative;
    float: left;
}





